/* hi-there.css */
@import url('https://fonts.googleapis.com/css?family=Megrim|Roboto+Slab');

.jumbotron.text-center{
    background: url('http://static.simpledesktops.com/uploads/desktops/2016/08/11/Glasgow.png') no-repeat fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container {
	color: #0278AE;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.display-3 {
	color: #fff;
	font-family: Roboto-Slab, serif;
  margin-bottom: 5px;
}

.lead {
	color: #fff;
	font-family: Roboto, serif;
  margin-bottom: 80px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    margin-bottom: 80px;
}

.nav.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
	color: #0278AE;
}

nav.bg-dark {
	background-color: #0D7377 !important;
}

a.navbar-brand {
	font-family: Megrim, serif;
	font-weight: 700;
}

.nav-link {
  font-family: Roboto-Slab, sans-serif;
  font-size: 1.05em;
  line-height: 2em;
  letter-spacing: .02em;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0D7377 !important;
}