<!-- div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-capitalize text-center" jhiTranslate="hi-there.title">Title</h1>
    <h5 class="text-center" jhiTranslate="hi-there.subtitle">Subtitle</h5>
    <hr/>
    <p class="text-justify" jhiTranslate="hi-there.content">Content</p>
  </div>
  <div class="col-md-1"></div>
</div>


-->


 <div class="jumbotron text-center" style="background:transparent;">
        <h1 class="display-3">Upload your files</h1>
        <p class="lead">Upload and synchronize your files across all devices.</p>
        <label class="btn btn-default btn btn-primary btn-lg">
            Click to upload
            <form  method="POST" enctype=multipart/form-data action="http://localhost:8080/content/upload">
            	<input type="file" id="uploadFileInput" hidden  name="file"  onchange="doUpload()">
            </form>
        </label>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          
        </div>
      </div>