<div class="jumbotron text-center" style="background: transparent;">
		
		<h1 class="display-3">Upload your files</h1>
		<p class="lead">Upload and synchronize your files across your
			devices</p>
		<label class="btn btn-default btn btn-primary btn-lg">Click to
			upload
			<form method="POST" enctype="multipart/form-data"
				action="http://localhost:8080/content/upload">
				<input type="file" #uploadFileInput hidden name="file"
					(change)="doUpload($event)">
			</form>
		</label>
	</div>




	
	<div *ngIf="files.length > 0" >
	<p>Files are {{files.length}}</p>
		<div *ngFor='let f of files'>
		<li>{{f}} <a href='http:\\localhost:8080\content\ftp\download\{{f}}'>Download</a></li>
		</div>
	</div>
	
<!-- 	<ul> -->
	
<!-- 	</ul> -->

